{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.link %}
  {% assign resource_url = post.link %}
{% else %}
  {% assign resource_url = post.url | prepend: base_path %}
{% endif %}

{% if post.logo %}
  {% assign logo_src = post.logo | relative_url %}
{% elsif post.link %}
  {% assign logo_domain = post.link | remove: 'https://' | remove: 'http://' | split: '/' | first %}
  {% assign logo_src = 'https://www.google.com/s2/favicons?domain=' | append: logo_domain | append: '&sz=128' %}
{% endif %}

<article class="resource-tile">
  <a class="resource-tile__link" href="{{ resource_url }}" target="_blank" rel="noopener noreferrer">
    {% if logo_src %}
      <img
        class="resource-tile__logo{% if post.logo_wide %} resource-tile__logo--wide{% endif %}"
        src="{{ logo_src }}"
        alt=""
        width="48"
        height="48"
        loading="lazy"
        decoding="async">
    {% endif %}
    <span class="resource-tile__title">{{ title }}</span>
    {% if post.tagline %}
      <span class="resource-tile__tagline">{{ post.tagline }}</span>
    {% endif %}
  </a>

  {% if post.excerpt %}
    <button type="button" class="resource-tile__info" aria-label="More about {{ title }}">
      <i class="fas fa-info" aria-hidden="true"></i>
      <span class="resource-tile__info-panel">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</span>
    </button>
  {% endif %}
</article>
