{% include base_path %}

<ul class="cv-list">
  {% assign talks_sorted = site.talks | sort: 'date' | reverse %}
  {% for post in talks_sorted %}
    <li class="cv-list__item">
      <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
      {% if post.venue or post.date %}
        <span class="cv-list__meta">
          {% if post.type %}{{ post.type }}{% endif %}
          {% if post.venue %} at <em>{{ post.venue }}</em>{% endif %}
          {% if post.location %}, {{ post.location }}{% endif %}
          {% if post.date %} ({{ post.date | date: '%b %Y' }}){% endif %}
        </span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
